

#barraInterativa {
    overflow: scroll;
    width: 1200px;
    height: 500px;
    margin: auto;
};
  
#scatter {
    width: 100px;
    height: 500px;
    margin: auto;
};

#pie {
    width: 100px;
    height: 500px;
    margin: auto;
};
h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
};